<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title data-th-remove="all">Email Template - User Admin Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body{
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 14px;
      color: #DDD;
     
      }

    </style>
  </head>
  <body>
    <div style="background-color: #ccc; background-image: url(images/background.png)"
      data-th-style="|background-color: #ccc; background-image: url(cid:background)|" >
      <div style="padding: 40px;">
        <div style="margin-left: auto; margin-right: auto; min-width: 320px; border: solid 1px #555; border-radius: 6px;">
          <div style="background-color: #555; padding: 4px 4px 2px 4px;">
            <div style="background-image: url(images/logo-background.png);"
              data-th-style="|background-image: url(cid:logo-background)|">
              <img style="border: solid 1px #555; border-radius: 6px;"
                src="images/thymeleaf-banner.png" data-th-src="|cid:thymeleaf-banner|" />
            </div>
          </div>
          <div th:switch="${title}" style="padding: 15px 15px 30px 15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:1em; background-color: #fff; color:#333;">
            <p th:case="'Password Reset Request'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
              You have requested to reset your password on 
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            <p>You can click the following URL to reset your password <span th:text="${url}">http://localhost:8080/resetPassword</span></p>
            </p>
            
            <p th:case="'Password Reset Request'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
              You have requested to reset your password on 
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            <p>You can click the following URL to reset your password <span th:text="${url}">http://localhost:8080/resetPassword</span></p>
            </p>
            
            <p th:case="'New User Notification'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
                <span th:text="${firstName}"></span> <span th:text="${lastName}"></span> <span>has been added to the system on : </span>
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            
            </p>
            
            
            <p th:case="'Password Reset Request'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
              You have requested to reset your password on 
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            <p>You can click the following URL to reset your password <span th:text="${url}">http://localhost:8080/resetPassword</span></p>
            </p>
            <p th:case="'Updated Details'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
              Your details have been updated on : 
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            <p>You can login to the system <span th:text="${url}">http://localhost:8080/home</span>
              <span>using the  username :  <span th:text="${username}"></span>
              <span>and your password</span></span>
            </p>
            </p>
            <p th:case="'Registration'">Hello <span th:text="${username}">User</span><span>,</span>
            <p>
              You have been registered to use the user admin tool on : 
              <span th:text="${#calendars.format(date,'dd MMMM yyyy')}">28-12-2016</span>
            </p>
            <p>You can login to the system <span th:text="${url}">http://localhost:8080/home</span>
              <span>using the  username :  <span th:text="${username}"></span></span>
              <span>and your password</span>
            </p>
            </p>
            Regards, <br />
            &emsp; <em>User Admin Tool Team</em>
          </div>
          <div style="background-color: #555; padding: 4px 4px 0px 4px; text-align: right;">
            <div style="background-image: url(images/logo-background.png);"
              data-th-style="|background-image: url(cid:logo-background)|">
              <img style="border: solid 1px #555; border-radius: 6px;"
                src="images/thymeleaf-logo.png" data-th-src="|cid:thymeleaf-logo|" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>